<?xml version="1.0" encoding="utf-8"?>
<!--このファイルをwwwroot直下に置く-->
<configuration>
  <system.webServer>
    <!-- 既存websocketの切断-->
    <webSocket enabled="false" />
    <handlers>
      <!-- Nodejsを設定。webappsではserver.jsにデフォルトで読みに行く。別のjs名の場合はpathを変更する。 以降のserver.jsと書いてある部分は全て変更のこと。-->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- パス設定 -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- node.jsでは使わないディレクトリ -->
    <security>
      <requestFiltering>
        <hiddenSegments>
            <!-- -->
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />

    <!--<iisnode watchedFiles="web.config;*.js"/>-->
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>