$release: false;
$min-width: 0;
$max-width: 2000;
$min-height: 0;
$max-height: 1000;

@if $release {
    $min-width: 1300;
    $max-width: 1400;
    $min-height: 600;
    $max-height: 650;
}

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#6fb, #ddd, #5fe);
}

@media screen
    and (min-width: ($min-width+"px"))
    and (max-width: ($max-width+"px"))
    and (min-height: ($min-height+"px"))
    and (max-height: ($max-height+"px")) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    h1{
        text-align: center;
        margin-top: 40px;
        background-color: rgb(201, 46, 203);
        color: rgb(87, 251, 136);
    }

    .flex{
        display: flex;
        .othello-wrapper{
            width: 550px;
            margin-top: 100px;
            margin-left: 90px;
            .othello-img{
                transform: scale(1.2, 1.4);
            }
        }
        #nodes-ally, #nodes-opponent{
            width: 430px;
            height: 670px;
            background-color: rgb(220, 184, 255);
        }
        #nodes-opponent{
            right: 0%;
        }
    }

    .too-small-width{
        display: none;
    }
    .too-large-width{
        display: none;
    }
    .too-small-height{
        display: none;
    }
    .too-large-height{
        display: none;
    }
}

.too-small-width, .too-large-width, .too-small-height, .too-large-height{
    margin: 20px;
}

// 横幅が小さすぎる
@media screen and (max-width: ($min-width+"px")) {
    .wrapper{
        display: none;
    }
    .too-large-width{
        display: none;
    }
}
// 横幅が大きすぎる
@media screen and (min-width: ($max-width+"px")) {
    .wrapper{
        display: none;
    }
    .too-small-width{
        display: none;
    }
}

// 縦幅が小さすぎる
@media screen and (max-height: ($min-height+"px")) {
    .wrapper{
        display: none;
    }
    .too-large-height{
        display: none;
    }
}
// 縦幅が大きすぎる
@media screen and (min-height: ($max-height+"px")) {
    .wrapper{
        display: none;
    }
    .too-small-height{
        display: none;
    }
}

// 横幅が適切
@media screen and (min-width: ($min-width+"px")) and (max-width: ($max-width+"px")) {
    .too-small-width{
        display: none;
    }
    .too-large-width{
        display: none;
    }
}
// 縦幅が適切
@media screen and (min-height: ($min-height+"px")) and (max-height: ($max-height+"px")) {
    .too-small-height{
        display: none;
    }
    .too-large-height{
        display: none;
    }
}
