$release: false;
$min: 0;
$max: 2000;

@if $release {
    $min: 1300;
    $max: 1400;
}

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#6fb, #ddd, #5fe);
}

@media screen and (min-width: ($min+"px")) and (max-width: ($max+"px")){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    h1{
        text-align: center;
        margin-top: 40px;
        background-color: rgb(201, 46, 203);
        color: rgb(87, 251, 136);
    }

    .flex{
        display: flex;
        #othello{
            width: 550px;
        }
        #nodes-ally, #nodes-opponent{
            width: 430px;
            height: 670px;
            background-color: rgb(220, 184, 255);
            #own{
                z-index: 999;
            }
        }
        #nodes-opponent{
            right: 0%;
        }
    }

    .too-small{
        display: none;
    }

    .too-large{
        display: none;
    }
}

@media screen and (max-width: ($min+"px")) {
    .wrapper{
        display: none;
    }
    .too-small{
        margin: 20px;
    }
    .too-large{
        display: none;
    }
}

@media screen and (min-width: ($max+"px")) {
    .wrapper{
        display: none;
    }
    .too-small{
        display: none;
    }
    .too-large{
        margin: 20px;
    }
}