html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#6fb, #ddd, #5fe);
}

@media screen and (min-width:1300px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    h1{
        text-align: center;
        margin-top: 40px;
        background-color: #a3c;
        color: #2f4;
    }

    #nodes{
        width: 100vw;
        height: 100vh;
    }

    h2{
        display: none;
    }
}

@media screen and (max-width:1300px) {
    .wrapper{
        display: none;
    }
    h2{
        margin: 20px;
    }
}